//ManageUser 
.manageUser-container{
    padding: 10px;

    .tille{
        font-weight: 600;
        font-size: 20px;
    }
    .users-content{
        .allBtn-manageUser{
            .btn-addUser{
                background-image: linear-gradient(to right, #1c98f8 0%, #4bc3d5 51%, #469fda 100%);
                margin: 15px 0;
                padding: 3px 5px;
                text-align: center;
                background-size: 200% auto;
                color: white;
                border-radius: 10px;
                display: block;
                border: none;
                font-size: 15px;
                font-weight: 500;
                
                &:hover {
                    background-position: right center;
                    color: #263a58;
                    text-decoration: none;
                    box-shadow: 0 12px 16px 0 rgba(83, 74, 74, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
        .table-user{

        }
    }
}

//Modal CreateUser
.modalCreate-User {
    .img-preview {
        border: 1px dashed rgb(82, 49, 49);
        border-radius: 5px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;

        .preview {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .upload-avatar{
        .label-upload{
            display: flex;
            align-items: center;
            gap: 5px;
            border: 1px solid red;
            width: fit-content;
            padding: 3px 5px;
            border-radius: 5px;
            background: #eeeeee;
            border: none;
            cursor: pointer;

            &:hover{
                background-color: #dcdcdc;
            }
        }
    
    }
}