@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

.logo {
    width: 50px;
    display: inline-block;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    color: #333340;
    margin: 0px 5px;
    width: 100px;
    text-align: center;
    margin: auto;
}

.nav-link:hover {
    color: #f51fb8; 
    border-bottom: 1px solid #f51fb8;
    text-decoration: none;
}

.text {
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    display: inline-block;
    transform: translate(0, 7px);
    font-size: 26px;
    margin-left: 5px;
}

navbar-collapse {
    flex-basis: 100%;
    display: inline-grid;
    flex-grow: 1;
    align-items: center;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: space-between;
    }
}